body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #fff;
}

h6{
  font-size: 1.5rem;
  color: #375f68;
  text-align: left;
}

h1, h2, h3, h4, h5{
  font-family: "Prata";
}

p{
  color: #fff;
  text-align: left;
  font-size: large;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Headings */

.big-heading {
  font-family: "Prata";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 5% 15%;
}

.jumbotron{
  padding: 5% 15%;
  background-color: #fff;
}

.container-fluid p{
    color: #375f68;
}

.container-fluid-green p{
    color: #fff;
}

.container-fluid-small{
  padding: 0% 15% 5%;
}

.container-fluid-small p{
    color: #375f68;
}


/* Sections */

.title-section {
  background-image: url(cover.jpg);
  background-position: center center;
  background-size: cover;
  text-align: left;
  color: #fff;
}

.colored-section-green {
  background-color: #03989e;
  padding: 5% 15%;
}

.white-section {
  background-color: #fff;
  padding: 0% 15%;
}

.white-section p{
  color: #375f68;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 0;
}

.navbar-brand {
  font-family: "Prata";
  font-size: 2.5rem;
  /* font-weight: bold; */
}

.nav-item {
  padding: 0 18px;
  font-family: "Montserrat";
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ff7266;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff005c;
}

#features p {
  text-align: center;
}

#testimonials {
  background-color: #ff005c;
  color: #fff
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
/* Footer Section */


.social-icon {
  margin: 20px 10px;
  color: grey;
}

.social-icon:hover {
  color: #03989e;
}

#footer p{
  font-size: 0.75rem;
  color: grey;
  text-align: center;
}

/* Events Section */
.event-link {
  font-size: 1rem;
  color: #fff;
}

/* Blog sections */
#post p{
  color: #375f68;
  text-align: left;
}

#post h2{
  color: #ff005c;
  text-align: left;
}

/* Terms sections */

#privacy {
  font-size: 0.75rem;
}
