body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #fff;
}

h1, h2, h3, h4, h5,h6{
  font-family: "Prata";
}

p{
  color: #fff;
  text-align: left;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  body {font-size:2rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {font-size:1rem;} /*1rem = 16px*/
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5em;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.2em;
  line-height: 1.5;
}

.section-heading-dark {
  font-size: 2.2em;
  line-height: 1.5;
  color: #fff;
}

/* Containers */

.container-fluid{
  padding: 5% 15%;
}

.jumbotron{
  padding: 5% 15%;
  background-color: #fff;
}

.container-fluid p{
    color: #375f68;
}

.container-fluid-green p{
    color: #fff;
}

.container-fluid-small{
  padding: 0% 15% 5%;
}

.container-fluid-small p{
    color: #375f68;
}


/* Sections */

.title-section {
  background-image: url(cover.jpg);
  background-position: center center;
  background-size: cover;
  text-align: left;
  color: #fff;
}

.webp .title-section {background-image: url('cover.webp');}
.jpeg2000 .title-section {background-image: url('cover.jp2');}
.jpegxr .title-section {background-image: url('cover.jpx');}


.colored-section-green {
  background-color: #03989e;
  padding: 5% 15%;
}

.white-section {
  background-color: #fff;
  padding: 0% 15%;
}

.white-section p{
  color: #375f68;
}

.big{
  font-size: 1.5em;
  font-family: "Prata";
}

/* Navigation Bar */

.navbar {
  padding: 0 0 0;
}

.navbar-brand {
  font-family: "Prata";
  font-size: 2.5em;
  /* font-weight: bold; */
}

.nav-item {
  padding: 0 18px;
  font-family: "Montserrat";
}

.nav-link {
  font-size: 1.2em;
  font-family: "Montserrat";
}

#navbarmain{
  font-size: 0.75em;
  vertical-align: middle;
  color: white;
  }

.nav a{
  color: grey;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5em;
  color: #375f68;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ff7266;
  margin-bottom: 1em;
}

.icon:hover {
  color: #ff005c;
}

#features p {
  text-align: center;
}

#testimonials {
  background-color: #ff005c;
  color: #fff
}

.testimonial-text {
  font-size: 3em;
  line-height: 1.5;
}

#featurepadder{
  padding-bottom: 5%;
}

/* Footer Section */


.social-icon {
  margin: 20px 10px;
  color: grey;
}

.social-icon:hover {
  color: #03989e;
}

#footer p{
  font-size: 0.75em;
  color: grey;
  text-align: center;
}

/* Events Section */
.event-link {
  color: #fff;
}

/* Blog sections */
#post p{
  color: #375f68;
  text-align: left;
}
.inspiration{
  color: #ff005c;
  font-size: 1.5em;
  text-align: left;
}

.insights{
  color: #00c4cc;
  font-size: 1.5em;
  text-align: left;
}

.updates{
  color: #03989e;
  font-size: 1.5em;
  text-align: left;
}



.row {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

/* Terms sections */

#privacy {
  font-size: 0.75em;
}
